
@keyframes changes {
    0% {
      top: 100px;
      opacity: 0; }
    5% {
      top: 200x;
      opacity: 1; }
    18% {
      top: 200px;
      opacity: 1; }
    22% {
      top: 300px;
      opacity: 0; }
    100% {
      top: 300px;
      opacity: 0;
    }
  }
  

  @media (width <= 600px) {
    .fs {
      font-size: 50px;
      font-family: "Song Myung", serif;
    }
    .hide {
      display : none;
    }
  }